* {
  box-sizing: border-box;
  font-family: Calibri;
}

html {
  white-space: nowrap;
}

body {
  margin: 0;
  flex-wrap: wrap;
}

/* Estilize o cabeçalho com um fundo cinza e um pouco de preenchimento */
.header {
  overflow: hidden;
  background-color: #212529;
  height: 80px;
}

/* Estilize os links do cabeçalho*/
.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: double;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
}

/* Estilize o link do logotipo (observe que definimos o mesmo valor de altura da linha e
   tamanho da fonte para evitar que o cabeçalho aumente quando a fonte aumentar*/
.header .logo {
  margin-left: 50px;
  margin-top: 20px;
  height: 40px;
  width: 100px;
}

.header a {
  font-size: 16px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: rgb(244, 255, 97);
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  position: absolute;
  right: 100px;
  top: 17px;
}

/* Adicione consultas de mídia para capacidade de resposta - 
quando a tela tiver 500px de largura ou menos, empilhe os links um em cima do outro */

.mainn {
  overflow: hidden;
  background-color: #ffffff;
  height: 680px;
  width: auto;
}

.mainn-right {
  position: absolute;
  right: 100px;
  top: 170px;
}

.mainn p {
  display: flex;
  color: black;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
  font-size: 14px;
}

.mainn h2 {
  position: absolute;
  left: 86px;
}

.mainn .img1 {
  display: flex;
  width: 45px;
}

.row {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.card {
  flex: 2 2;
  /* A borda do card fica redonda*/
  /*box-shadow: 7px 7px 13px 0px rgba(160, 255, 250, 0.466);*/
  /* Tamanho da sombra do card fica redonda*/
  padding: 20px;
  /*Distancia do conteudo dentro dos cards*/
  margin: 5px;
  padding: 0;
  max-width: 370px;
  height: 320px;
}

.card p {
  color: #000000;
  align-items: center;
  font-size: 13px;
}

/*.image {
    float: right;
    max-width: 64px;
    max-height: 64px;
  }
  */

.one,
.two,
.tree,
.four,
.five,
.six {
  border-left: 1px solid #212529;
  border-right: 1px solid #212529;
  border-top: 1px solid #212529;
  border-bottom: 1px solid #212529;
}

.imgCard {
  display: flex;
  justify-content: center;
  margin: 0;
}

.imgCard2 {
  display: flex;
  justify-content: center;
  margin: 0;
}
.infodiv {
  display: flex;
  background-color: #003566;
  height: auto;
  width: auto;
}

.infodiv .circle {
  width: 210px;
  height: auto;
  margin-left: 35rem;
  background-color: #ffd700;
  border-radius: 2rem;
}

.infodiv .sobre {
  margin-left: 1rem;
  color: #003566;
  font-size: 43px;
}
#infoText {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  float: left;
  color: white;
  font-size: 18px;
  text-align: justify;
  white-space: normal;
}

.textoCard {
  float: left;
  text-align: justify;
  font-size: 15px;
  margin-left: 1px;
  margin-top: 9px;
  width: 100%;
  white-space: normal;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.textoCard2 {
  float: left;
  margin-left: 2px;
  margin-top: 1px;
  width: 100%;
  white-space: normal;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

h3 {
  display: flex;
  margin-top: 1px;
  margin-left: 8px;
  align-items: center;
}

.Card2 {
  display: flex;
  margin-top: 1px;
  margin-left: 8px;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: #001d3d;
}

/************/

.mainnPost {
  
  overflow: hidden;
  background-color: #ffffff;
  height: auto;
  padding: 1rem;
}

.mainnPost-right {
  display: flex;
  margin-right: 2rem;
  margin-top: 6rem;
}

.mainnPost h1 {
  display: flex;
  margin-left: 33rem;
}
.imgpost {
  display: flex;
  margin-left: 20rem;
  width: 700px;
  height: 300px;
}

.iconface {
  display: flex;
  width: 50px;
  height: 50px;
}

.iconinsta {
  display: flex;
  width: 100px;
  height: 100px;
}

.listaProfissao {
  margin-top: 5rem;
  margin-left: 7rem;
  font-size: 16px;
}

.textoPost {
  float: left;
  white-space: normal;
  width: 100%;
  text-align: justify;
  font-size: 18px;
}

.linkInstalar {
  white-space: normal;
  flex-direction: row;
  width: 100%;
  float: left;
}

#linkInstalar2 {
  flex-direction: row;
  white-space: normal;
  text-align: left;
  margin-left: 30rem;
  width: 100%;
  float: left;
}
#linkInstalar3 {
  flex-direction: row;
  white-space: normal;
  text-align: left;
  margin-left: 21rem;
  width: 100%;
  float: left;
}
#subTituloPost {
  display: flex;
  margin-left: 4rem;
  font-weight: bold;
  white-space: normal;
  text-align: left;
}

#subTituloPost2 {
  display: flex;
  margin: 0px;
  white-space: normal;
  text-align: left;
  overflow: hidden !important;
}

#subTituloPost3 {
  display: flex;
  margin-right: -8rem;
}

@media screen and (max-width:768px) and (max-height:900px){
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

  .mainn {
    flex-wrap: wrap;
    height: auto;
  }
  .infodiv {
    padding: 5px;
    background-color: #003566;
    height: auto;
    width: auto;
  }
  .infodiv .circle {
    width: 210px;
    height: auto;
    margin-left: 26rem;
    background-color: #ffd700;
    border-radius: 2rem;
}

  #infoText {
    padding-left: 2rem;
    padding-right: 2rem;
    float: left;
    color: white;
    font-size: 12spx;
    text-align: justify;
    margin-top: 2rem;
    white-space: normal;
  }

  .mainnPost {
    overflow: hidden;
    background-color: #ffffff;
    height: auto;
    padding: 1rem;
  }

  .mainnPost p {
    display: flex;
    color: black;
    font-size: 13px;
  }
  .imgpost {
    display: flex;
    margin-left: 5rem;
    width: 800px;
    height: 400px;
  }

  .mainnPost h1 {
    font-size: 38px;
    display: flex;
    margin-left: 22rem;
  }

  .linkInstalar {
    float: left;
    margin-left: 10rem;
  }
  .textoPost {
    float: left;
    white-space: normal;
    width: 100%;
    text-align: justify;
    font-size: 14px;
}
}
