* {
  box-sizing: border-box;
}

html {
  white-space: nowrap;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilize o cabeçalho com um fundo cinza e um pouco de preenchimento */
.header {
  overflow: hidden;
  background-color: #212529;
  height: 80px;
}

/* Estilize os links do cabeçalho*/
.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: double;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
}

/* Estilize o link do logotipo (observe que definimos o mesmo valor de altura da linha e
   tamanho da fonte para evitar que o cabeçalho aumente quando a fonte aumentar*/
.header .logo {
  margin-left: 50px;
  margin-bottom: 500px;
  height: 80px;
  width: 80px;
}

.header a {
  font-size: 16px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: rgb(244, 255, 97);
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  position: absolute;
  right: 100px;
  top: 17px;
}

/* Adicione consultas de mídia para capacidade de resposta - 
quando a tela tiver 500px de largura ou menos, empilhe os links um em cima do outro */
@media screen and (max-width: 300px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.mainn {
  overflow: hidden;
  background-color: #ffffff;
  height: 680px;
}

.mainn p {
  display: flex;
  color: black;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
  font-size: 14px;
}

.mainn h2 {
  position: absolute;
  left: 86px;
}

.mainn .img1 {
  display: flex;
  width: 45px;
}

.row {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.card {
  flex: 2 2 450px;
  /* A borda do card fica redonda*/
  /*box-shadow: 7px 7px 13px 0px rgba(160, 255, 250, 0.466);*/
  /* Tamanho da sombra do card fica redonda*/
  padding: 20px;
  /*Distancia do conteudo dentro dos cards*/
  margin: 5px;
  width: 900px;
  height: 200px;
}

.card p {
  color: #000000;
  align-items: center;
  font-size: 13px;
}

/*.image {
    float: right;
    max-width: 64px;
    max-height: 64px;
  }
  */

.one {
  padding: 0;
  max-width: 370px;
  height: 290px;
  border-left: 1px solid #212529;
  border-right: 1px solid #212529;
  border-top: 1px solid #212529;
  border-bottom: 1px solid #212529;
}

.two {
  padding: 0;
  max-width: 370px;
  height: 290px;
  border-left: 1px solid #ffe600;
  border-right: 1px solid #ffe600;
  border-top: 1px solid #ffe600;
  border-bottom: 1px solid #ffe600;
}

.tree {
  max-width: 370px;
  height: 290px;
  border-left: 1px solid #0004ff;
  border-right: 1px solid #0004ff;
  border-top: 1px solid #0004ff;
  border-bottom: 1px solid #0004ff;
}

.four {
  display: flex;
  max-width: 370px;
  height: 290px;
  border-left: 1px solid #212529;
  border-right: 1px solid #212529;
  border-top: 1px solid #212529;
  border-bottom: 1px solid #212529;
}

.five {
  max-width: 370px;
  height: 290px;
  border-left: 1px solid #212529;
  border-right: 1px solid #212529;
  border-top: 1px solid #212529;
  border-bottom: 1px solid #212529;
}

.six {
  max-width: 370px;
  height: 290px;
  border-left: 1px solid #212529;
  border-right: 1px solid #212529;
  border-top: 1px solid #212529;
  border-bottom: 1px solid #212529;
}

.imgCard {
  display: flex;
  justify-content: center;
  margin: 0;
}

.imgCard2 {
  display: flex;
  justify-content: center;
  margin: 0;
}
